.git
.gitignore

.env
.env.*

.venv/
venv/
env/

.vscode/
.idea/
.VSCodeCounter/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

log/
docs/
tests/

db/csv_output/
db/csv_output_snapshots/

results.json
check.txt